// Variables, Fonts... //
@import "animations";
@import "fonts";
@import "variables";

// HEADER //
body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7E1D6;
    box-shadow: 0 4px 14px 10px rgba(0, 0, 0, 0.03);
    z-index: 1000;
}
    .menuHeader {
        width: 100%;
        height: 9vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3vw;

            @media (max-width: $VSD) {
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
            }
    }
    .logoText {
        height: auto;
        margin-left: 6vw;
        font-family: "SpaceMonoRegular";
        font-size: 1.3vw;
        font-weight: 400;
        color: #BE77B3;
        text-decoration: none;
        transition: color 0.3s, font-weight 0.3s;

        
        @media (max-width: $VSD) {
            width: 50vw !important;
            display: flex;
            align-items: center;
            margin-left: -38vw;
            margin-top: 6vw;
            font-size: 4vw;
        }
        @media (max-width: $LD) {
            width: 25vw;
        }
        @media (max-width: $XLD) {
            width: 25vw;
        }
        @media (max-width: $XXLD) {
            width: 20vw;
        }
    }
.menuLogo a:hover .logoText {
        font-weight: 700;
        color: #f69d5c;
    }
.menuBlock {
    display: none;

        @media (max-width: $VSD) {
                width: 30px;
                height: 20px;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                top: 4vw;
                right: 10vw;
    
                    .line {
                        width: 100%;
                        height: 3px;
                        background-color: black;
                        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                    }
                        &.active .line:nth-child(2) {
                            opacity: 0;
                        }
                        &.active .line:nth-child(1) {
                            transform: translateY(9px) rotate(50deg);
                        }
                        &.active .line:nth-child(3) {
                            transform: translateY(-9px) rotate(-50deg);
                        }
            }
    }
    .menuNav {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-right: 6vw;
        
        a {
            font-family: "SpaceMonoRegular";
            font-size: 1.3vw;
            font-weight: 400;
            color: #f69d5c;
            text-decoration: none;
            transition: color 0.3s, font-weight 0.3s;
            
                a:hover {
                    font-weight: 700;
                    color: #BE77B3;
                }
            }

                @media (max-width: $VSD) {
                    width: 100%;
                    position:absolute;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    top: 46px;
                    left: 0;
                    padding: 35vw 0 100vw 0;
                    background-color: #BE77B3;
                    z-index: 999;
                    animation: fadeRight 0.6s forwards ease;
        
                        &.active {
                            display: flex;
                        }
                        
                        a {
                            width: 100%;
                            display: block !important;
                            text-align: center;
                            box-sizing: border-box;
                            padding: 10px 0;
                            font-size: 8vw;
                            color: #f7e1d6;
                            margin: 0;
                        }
                }
    }
